<footer class="footer">
    <div class="footer-links">
        <span>Copyright (C) {{year}} <a href="https://rezaulhasan.me">Md. Rezaul Hasan</a> and individual contributors.</span>
    </div>
</footer>
